@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
/* The "*" means we want to apply it to everything */
/* box-sizing is used to board a box so that if we add any padding or any border on  to an element, it doesn't affect the width of it*/

body {
    font-family: 'Muli', 'sans-serif';
    display: flex;
    align-items: center; /* Centered Horizontally */
    justify-content: center; /* Centered Vertically (Has to have height on it to show )*/
    height: 100vh; /* viewport height. 100vh means take up the entire hight of the browser ? didn't work on this laptop*/
    overflow: hidden;
    margin: 0;
}
    
.container{
    display: flex;
    /* flex-direction: column; */
    width: 90vw;
}

.panel{
    background-size: auto 100%;
    /* background-size: cover; To preseve rounded corners on large screen */
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color:  #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in; /* When click, show animation*/
}

.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}

.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}

@media (max-widty: 480px){
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4)
    .panel:nth-of-type(5) {
        display: none;
    }
}